.main-header {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-bottom: 68px;

    font-family: 'Poppins', sans-serif;

    
    &__left {
        height: 129px;
        margin-top: 22px;
    }

&__title {
    font-size: 54px;
    font-weight: 600;
    line-height: 81px;
    letter-spacing: 0%;
}

&__date {
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0%;
}

}