.members-section {
  font-family: "Poppins", sans-serif;
  min-width: 664px;
  min-height: 387px;
  background-color: white;
  border-radius: 34px;
  box-shadow: 0px 16px 31px 0px rgba(0, 0, 0, 0.01);
  @include main-card__paddings;
}

.members-section-title {
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.members-section-title::after {
  content: "⋮";
  font-size: 24px;
  color: #888;
}

.members-container {
  display: flex;
  flex-direction: column;
}

.members-header {
  display: flex;
  border-bottom: 1px solid #eee;
  margin-top: 25px;
}

.header-item {
  font-weight: 500;
  color: #888;
}

.header-item.member-info {
  flex: 1;
}

.header-item.today,
.header-item.week {
  width: 100px;
  text-align: center;
}

.header-item.member-info,
.header-item.today,
.header-item.week {
  padding-bottom: 11px;
}

.members-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.member-item {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 14px;
  padding: 15px;
}

.member-info {
  display: flex;
  align-items: center;
  flex: 1;
}

.member-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.member-details {
  display: flex;
  flex-direction: column;
}

.member-name {
  font-weight: bold;
  font-size: 16px;
}

.member-role,
.member-task {
  font-size: 12px;
  color: #666;
}

.member-time {
  background-color: #fff8e8;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 14px;
  width: 70px;
  text-align: center;
}

.member-time.today {
  margin-left: auto;
  margin-right: 15px;
}
