.projects-section {
  font-family: "Poppins", sans-serif;
  width: 721px;
  height: 501px;
  background-color: white;
  border-radius: 34px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  @include main-card__paddings;

  &__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title::after {
    content: "⋮";
    font-size: 24px;
    color: #888;
  }

  &__view-all-button {
    margin-top: 23px;
    margin-left: 525px;
    width: 116px;
    height: 46px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
  }
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 28px;

  &__item {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    align-items: center;
    gap: 15px;
    border-radius: 14px;
    background-color: white;
    height: 64px;
    border: 1px solid rgb(241, 241, 241);

    &__name {
      font-weight: 600;
      font-size: 16px;
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__time {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff8e8;
      border-radius: 10px;
      width: 95px;
      height: 41px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
    }

    &__progress {
      flex-grow: 1;
      height: 6px;
      background-color: #e0e0e0;
      border-radius: 3px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        background-color: #fabb18;
        border-radius: 3px;
      }
    }

    &__icon {
      width: 35px;
      height: 35px;
      border-radius: 36px;
      background-color: #fabb181a;
      display: flex;
      justify-content: center;
      align-items: center;

      &__img {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.projects-list__item:nth-child(1) .projects-list__item__progress::before {
  width: 100%;
}

.projects-list__item:nth-child(2) .projects-list__item__progress::before {
  width: 25%;
}

.projects-list__item:nth-child(3) .projects-list__item__progress::before {
  width: 50%;
}

.projects-list__item:nth-child(4) .projects-list__item__progress::before {
  width: 75%;
}
